In [93]:
import pandas as pd
import numpy as np
import datetime

# SELECT train data 
train = pd.read_csv('./train_nt6.csv')

test = pd.read_csv('./test01_13.csv')
test2 = pd.read_csv('./test02_13.csv')

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.utils import shuffle

In [94]:
train.shape

(493, 8)

In [95]:
test.shape

(150, 8)

In [96]:
test2.shape

(222, 8)

In [97]:
train_data = train.drop('work', axis=1)

test = test.drop('work', axis=1)
test2 = test2.drop('work', axis=1)

target = train["work"]

train_data.shape, test.shape, test2.shape

((493, 7), (150, 7), (222, 7))

In [98]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [99]:
clf = KNeighborsClassifier(n_neighbors = 7)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.8        0.78       0.78       0.85714286 0.79591837 0.85714286
 0.93877551 0.85714286 0.73469388 0.87755102]

In [100]:
# kNN Score
round(np.mean(score)*100, 2)

82.78

In [101]:
clf = DecisionTreeClassifier()
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.92       0.9        0.94       0.85714286 0.89795918 0.91836735
 0.91836735 0.87755102 0.89795918 0.91836735]

In [102]:
# decision tree Score
round(np.mean(score)*100, 2)

90.46

In [103]:
clf = RandomForestClassifier(n_estimators=7)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.84       0.94       0.94       0.89795918 0.89795918 0.89795918
 0.87755102 0.91836735 0.95918367 0.89795918]

In [104]:
# Random Forest Score
round(np.mean(score)*100, 2)

90.67

In [105]:
clf = GaussianNB()
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.74       0.66       0.74       0.73469388 0.73469388 0.63265306
 0.6122449  0.6122449  0.59183673 0.67346939]

In [106]:
# Naive Bayes Score
round(np.mean(score)*100, 2)

67.32

In [107]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.74       0.74       0.78       0.79591837 0.79591837 0.83673469
 0.83673469 0.7755102  0.71428571 0.73469388]

In [108]:
round(np.mean(score)*100,2)

77.5

In [109]:
clf = KNeighborsClassifier(n_neighbors = 7)
clf.fit(train_data, target)

test_data = test.copy()
test2_data = test2.copy()

predict = clf.predict(test_data)
predict2 = clf.predict(test2_data)

result =pd.DataFrame({
    'status': test['status'],
    'work': predict
})

result2 =pd.DataFrame({
    'status': test2['status'],
    'work': predict2
})

result.to_csv('result_KNN.csv', index=False)
result2.to_csv('result2_KNN.csv', index=False)

result_KNN = pd.read_csv('result_KNN.csv')
result2_KNN = pd.read_csv('result2_KNN.csv')

result_KNN.head()

   status  work
0      33     0
1      33     1
2      32     1
3      32     1
4      32     1

In [110]:
clf = DecisionTreeClassifier()
clf.fit(train_data, target)

test_data = test.copy()
test2_data = test2.copy()

predict = clf.predict(test_data)
predict2 = clf.predict(test2_data)

result =pd.DataFrame({
    'status': test['status'],
    'work': predict
})

result2 =pd.DataFrame({
    'status': test2['status'],
    'work': predict2
})

result.to_csv('result_DT.csv', index=False)
result2.to_csv('result2_DT.csv', index=False)

result_DT = pd.read_csv('result_DT.csv')
result2_DT = pd.read_csv('result2_DT.csv')

result_DT.head()

   status  work
0      33     0
1      33     1
2      32     1
3      32     1
4      32     1

In [111]:
clf = RandomForestClassifier(n_estimators=7)
clf.fit(train_data, target)

test_data = test.copy()
test2_data = test2.copy()

predict = clf.predict(test_data)
predict2 = clf.predict(test2_data)

result =pd.DataFrame({
    'status': test['status'],
    'work': predict
})

result2 =pd.DataFrame({
    'status': test2['status'],
    'work': predict2
})

result.to_csv('result_RF.csv', index=False)
result2.to_csv('result2_RF.csv', index=False)

result_RF = pd.read_csv('result_RF.csv')
result2_RF = pd.read_csv('result2_RF.csv')

result_RF.head()

   status  work
0      33     1
1      33     1
2      32     1
3      32     1
4      32     1

In [112]:
clf = GaussianNB()
clf.fit(train_data, target)

test_data = test.copy()
test2_data = test2.copy()

predict = clf.predict(test_data)
predict2 = clf.predict(test2_data)

result =pd.DataFrame({
    'status': test['status'],
    'work': predict
})

result2 =pd.DataFrame({
    'status': test2['status'],
    'work': predict2
})

result.to_csv('result_NB.csv', index=False)
result2.to_csv('result2_NB.csv', index=False)

result_NB = pd.read_csv('result_NB.csv')
result2_NB = pd.read_csv('result2_NB.csv')

result_NB.head()

   status  work
0      33     1
1      33     1
2      32     1
3      32     1
4      32     0

In [113]:
clf = SVC()
clf.fit(train_data, target)

test_data = test.copy()
test2_data = test2.copy()

predict = clf.predict(test_data)
predict2 = clf.predict(test2_data)

result =pd.DataFrame({
    'status': test['status'],
    'work': predict
})

result2 =pd.DataFrame({
    'status': test2['status'],
    'work': predict2
})

result.to_csv('result_SVC.csv', index=False)
result2.to_csv('result2_SVC.csv', index=False)

result_SVC = pd.read_csv('result_SVC.csv')
result2_SVC = pd.read_csv('result2_SVC.csv')

result_SVC.head()

   status  work
0      33     0
1      33     1
2      32     1
3      32     1
4      32     1

In [123]:
print("KNN count: ", (result_KNN['work'].value_counts()[1] + result2_KNN['work'].value_counts()[0]))
print("DT  count: ", (result_DT['work'].value_counts()[1] + result2_DT['work'].value_counts()[0]))
print("RF  count: ", (result_RF['work'].value_counts()[1] + result2_RF['work'].value_counts()[0]))
print("NB  count: ", (result_NB['work'].value_counts()[1] + result2_NB['work'].value_counts()[0]))
print("SVC count: ", (result_SVC['work'].value_counts()[1] + result2_SVC['work'].value_counts()[0]))
#156 528
print("KNN count: ", result_KNN['status'].value_counts()[])

KNN count:  204
DT  count:  248
RF  count:  257
NB  count:  202
SVC count:  257
KNN count:  27